@font-face {
    font-family: 'Lorin-Regular';
    src: url(Lorin-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lorin-Regular', sans-serif;
    font-size: 16px;
    color: #ffffff;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#landingPage {
    height: 100vh;
    background-image: url('BlueBackground.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

.navAnchor {
    text-decoration: none;
    margin: 20px;
    display: inline-block;
    padding-bottom: 0.24rem;
    position: relative;
}

.navAnchor::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255,255,255);
    transition: width 0.20s ease-in-out, left 0.20s ease-in-out;
}

.navAnchor:hover::before {
    width: 100%;
    left: 0;
}

#projectsSection {
    height: 100vh;
background-image: url('BlueBackground.png');
background-repeat: no-repeat;
background-size: 100%;
}

